@import url(http://fonts.googleapis.com/css?family=Lora:700);
@import url(http://fonts.googleapis.com/css?family=Raleway:500,600);

h1.section-title {
	font-family: 'Lora', serif;
}

h3.section-title {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: #21786C;
	margin-top: 40px;
}
.section-title small {
	font-family: 'Raleway', sans-serif;
}
.section-desc {
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
}

.c2a {
	font-size: 16px;
}

.sponsors {
	padding-top: 20px;
	text-align: center;
}
.tabbable li {
	font-weight: bold;
}