{%extends "base.html"%}

{%block content%}
<section class="section-content section-intro" id="section-intro">
	<div class="row">
		<div class="span8">
			<h1 class="section-title">
				Team Top Guns
				<small>Aero-Design NIT Jamshedpur</small>
			</h1>
			<p class="section-desc">
				We are the aero-design team of <a href="http://nitjsr.ac.in">National Institute of Technology, Jamshedpur</a>. We design and build 
				<strong>radio-controlled aircrafts</strong>, and participate in the
				<a href="#">SAE Aero Design<sup>&reg;</sup></a> competition, organized
				by <a href="#">Lockheed Martin</a> and <a href="#">NASA</a> every year
				in the United States.
			</p>
		</div>
	</div>
</section>
{%endblock content%}