{%extends "base.html"%}

{%block content%}
<section class="section-content section-intro" id="section-intro">
	<div class="row">
		<div class="span8">
			<h1 class="section-title">
				Team Top Guns
				<small>Aero-Design NIT Jamshedpur</small>
			</h1>
			<p class="section-desc">
				We are the aero-design team of <a href="http://nitjsr.ac.in">National Institute of Technology, Jamshedpur</a>. We design and build 
				<strong>radio-controlled aircrafts</strong>, and participate in the
				<a href="#">SAE Aero Design<sup>&reg;</sup></a> competition, organized
				by <a href="#">Lockheed Martin</a> and <a href="#">NASA</a> every year
				in the <strong>United States</strong>.
			</p>

			<p class="section-desc">The team was conceived in 2009. So far, we have built <strong>6 aircrafts</strong> and have won the prestigious <strong>NASA Systems
			Engineering Award</strong> in 2011.</p>
		</div>
	</div>
	<div class="row">
		<div class="span10">
			<h3 class="section-title">
				Our Sponsors
				<a class="btn btn-primary pull-right c2a">Sponsor Us</a>
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="span10">
			<ul class="thumbnails sponsors">
				<li class="span2">
					<img src="/static/img/logos/dst.png" alt="Department of Science
					and Technology, Government of Jharkhand">
				</li>
				<li class="span2">
					<img src="/static/img/logos/tatasteel.png" alt="Tata Steel">
				</li>
				<li class="span2">
					<img src="/static/img/logos/ritaa.png" alt="RIT/NIT Alumni Association">
				</li>
				<li class="span2">
					<img src="/static/img/logos/sbi.png" alt="State Bank of India">
				</li>
				<li class="span2">
					<img src="/static/img/logos/jcr.png" alt="Jyoti Cero Rubber">
				</li>
			</ul>
		</div>
	</div>
</section>
{%endblock content%}