<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Team Top Guns - AeroDesign NIT Jamshedpur</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="elemind.com" name="author">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/js/libs/modernizr.min.js"></script>
    <link href="ico/favicon.ico" rel="shortcut icon">
    <link href="ico/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="ico/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="ico/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
</head>
<body class="home" data-spy="scroll" data-target=".documentation-nav">
    <div class="container">
        <div class="row">
            <header class="span3">
                <div class="affix">
                    <div class="navbar span3">
                        <div class="navbar-inner">
                            <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
                                <i class="icon-reorder"></i>
                            </a>
                            <a class="brand span2" href="index.html">
                                <img alt="" src="/static/img/logo_t.png">
                            </a>
                            <nav class="nav-collapse collapse">
                                <ul class="nav">
                                    <li class="nav-home"><a href="/">Home</a></li>
                                    <li class="dropdown nav-portfolio">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            The Team
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-portfolio-2"><a href="portfolio-2.html">1.0</a></li>
                                            <li class="nav-portfolio-3"><a href="portfolio-3.html">2.0</a></li>
                                            <li class="nav-portfolio-item"><a href="portfolio-item.html">3.0</a></li>
                                            <li class="nav-portfolio-item"><a href="portfolio-item.html">4.0</a></li>
                                            <li class="nav-portfolio-item"><a href="portfolio-item.html">5.0</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-contact"><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div><!-- /navbar-inner -->
                    </div><!-- /navbar -->
                    <aside class="span3 text-center hidden-phone">
                        <ul class="social inline">
                            <li><a class="btn btn-small" href="#"><i class="icon-facebook"></i></a></li>
                            <li><a class="btn btn-small" href="#"><i class="icon-twitter"></i></a></li>
                            <li><a class="btn btn-small" href="#"><i class="icon-linkedin"></i></a></li>
                        </ul>
                        <p>Made with &hearts; by <a href="http://fb.com/sanketsaurav">Sanket</a></p>
                    </aside>
                </div><!-- /affix -->
            </header>

            <div class="main span9">

	<ul id="cbp-bislideshow" class="cbp-bislideshow hidden-phone">
        <li><img src="/static/img/gallery/08.jpg" alt=""/></li>
		<li><img src="/static/img/gallery/01.jpg" alt=""/></li>
		<li><img src="/static/img/gallery/02.jpg" alt=""/></li>
		<li><img src="/static/img/gallery/03.jpg" alt=""/></li>
		<li><img src="/static/img/gallery/04.jpg" alt=""/></li>
        <li><img src="/static/img/gallery/05.jpg" alt=""/></li>
        <li><img src="/static/img/gallery/06.jpg" alt=""/></li>
        <li><img src="/static/img/gallery/07.jpg" alt=""/></li>
	</ul>
	<div id="cbp-bicontrols" class="cbp-bicontrols hidden-phone">
		<span class="cbp-biprev"></span>
		<span class="cbp-bipause"></span>
		<span class="cbp-binext"></span>
	</div>

	<section class="section-content section-intro" id="section-intro">
		<div class="row">
			<div class="span6">
				<h1 class="section-title">
					Team Top Guns
					<small>Aero-Design NIT Jamshedpur</small>
				</h1>
				<p><a href="features.html" class="btn btn-primary btn-large">Donate</a></p>
			</div>
		</div>
	</section>


            </div><!-- /main span9 -->

        </div><!-- /row -->
    </div><!-- /container -->

    <script src="/static/js/libs/jquery.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="/static/js/libs/jquery.ui.map.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/libs/jquery.imagesloaded.min.js"></script>
    <script src="/static/js/libs/cbpBGSlideshow.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>
